<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/profil.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="div-form-center">
        <form th:action="@{/profil}" th:object="${request}" method="post" class="form-profil">
            <div class="input-container">
                <div class="input-label">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" th:field="*{username}" placeholder="@username">
                    <i class="fa-solid fa-chevron-right" style="position: absolute; right: 51%;  transform: translateY(10%); color: black; font-size: 10px; pointer-events: none; opacity: 0.9;"></i>
                </div>

                <div class="input-label">
                    <label for="email">Mail</label>
                    <input type="email" id="email" name="email" th:field="*{email}" placeholder="nom@domain.com">
                    <i class="fa-solid fa-chevron-right" style="position: absolute; right: 45%;  transform: translateY(10%); color: black; font-size: 10px; pointer-events: none; opacity: 0.9;"></i>
                </div>

                <div class="input-label-with-button">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" th:field="*{password}" placeholder="mot de passe">
                    <i class="fa-solid fa-chevron-right" style="position: absolute; right: 45%;  transform: translateY(100%); color: black; font-size: 10px; pointer-events: none; opacity: 0.9;"></i>
                    <button type="submit">Modifier</button>
                </div>
                <div th:if="${error}" th:text="${error}" class="error"></div>
                <div th:if="${success}" th:text="${success}" class="success"></div>
                <div th:if="${errors}" class="error-message">
                    <ul th:if="${#lists.size(errors) > 1}">
                        <li th:each="err : ${errors}" th:text="${err}"></li>
                    </ul>
                    <p th:if="${#lists.size(errors) == 1}" th:text="${errors[0]}"></p>
                </div>
            </div>


        </form>
    </div>

</body>
</html>